<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-1">Shelter</h1>
        <% end %>
      </div>

      <div class="navbar-menu">
          <div class="navbar-end">
            <% if user_signed_in? %>
              <div class="navbar-item">
              <p>
                <%= link_to "New Post", root_path, class: "button is-info is-inverted" %>       
              </p>
            </div>
              <div class="navbar-item">
                <p>
                  <%= link_to "Edit User", edit_user_registration_path, class: "button is-info is-inverted" %>       
                </p>
              </div>
              <div class="navbar-item">
                <p>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-info is-inverted" %>       
                </p>
              </div>
            <% else %>
              <div class="navbar-item">
                <p>
                  <%= link_to "Sign In", new_user_session_path, class: "button is-info is-inverted" %>       
                </p>
              </div>
              <div class="navbar-item">
                <p>
                  <%= link_to "Sign Up", new_user_registration_path, class: "button is-info is-inverted" %>       
                </p>
              </div>
            <% end %>
          </div>     
      </div>
    </nav>

    <div style="z-index: 2; position: fixed; width: 100vw; bottom:0; margin: 0; display:flex; justify-content:center;" class="columns has-background-black">
      <p class="is-size-7">
          Ed2021. All rights reserved
      </p>
    </div>



    <%= yield %>
  </body>
</html>
